<app-loader></app-loader>
<app-page-title
  title="Reportes"
  [breadcrumbItems]="breadCrumbItems"
></app-page-title>
<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="d-flex flex-wrap gap-2">
          <button
            type="submit"
            class="btn btn-success waves-effect waves-light"
            (click)="exportExcelEndpoint()"
          >
            Exportar Excel
          </button>
          <button
            type="reset"
            class="btn btn-info waves-effect"
            (click)="download()"
          >
            Descargar Excel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <input type="file" class="form-control" (change)="onChange($event)" />
      </div>
      <div class="row">
        <div class="col-2 mt-4">
          <img [src]="myimage" width="200px" height="200px" alt />
        </div>
        <div class="col-6 mt-4">
          <textarea cols="100" rows="20" [(ngModel)]="codigoBase64"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
